extends ../layout

block content
  .container.mt-5(style="padding-top: 80px")
    h1.text-center.mb-4 Admin Panel - Blog Posts

    .table-responsive
      table.table.table-hover.table-bordered
        thead.table-light
          tr
            th Title
            th Content
            th Author
            th Created
            th Actions
        tbody
          each post in posts
            tr
              td= post.title.length > 50 ? post.title.substring(0, 80) + '...' : post.title
              td= post.content.length > 100 ? post.content.substring(0, 100) + '...' : post.content
              td= post.createdBy && post.createdBy.name ? post.createdBy.name : 'Unknown'
              td= post.createdAt ? post.createdAt.toLocaleDateString() : 'N/A'
              td
                .d-flex.align-items-center.gap-2
                  a.btn.btn-outline-primary.btn-sm.rounded-pill(href=`/posts/${post._id}`, target="_blank") View 
                  button.btn.btn-outline-danger.btn-sm.rounded-pill(
                    type="button",
                    data-bs-toggle="modal",
                    data-bs-target=`#deleteModal${post._id}`
                  ) Delete

            // Include the modal for THIS post here
            include ../components/delete_modal
