// defaultNavbar (merged scroll + normal)
nav.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm.fixed-top(class=(isIndex ? 'd-none' : 'visible'))#defaultNavbar
  .container-fluid.px-5
    a.navbar-brand(href=(user && user.isAdmin ? '/admin' : '/'))
      img(src="/img/logo.jpg", alt="BlogMe", height="50", class="ps-2")

    button.navbar-toggler(
      type="button",
      data-bs-toggle="collapse",
      data-bs-target="#navbarNav",
      aria-controls="navbarNav",
      aria-expanded="false",
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto

        // GUEST (not logged in)
        if !user
          li.nav-item.mx-1
            a.btn.btn-outline-purple.me-2(class=(currentPage == 'posts' ? 'active' : ''), href="/posts") Blog Posts
          li.nav-item.mx-1
            a.btn.btn-outline-purple.me-2(class=(currentPage == 'login' ? 'active' : ''), href="/login") Login
          li.nav-item.mx-1
            a.btn.btn-outline-purple.me-2(class=(currentPage == 'register' ? 'active' : ''), href="/register") Register

        // LOGGED-IN USERS (admin and regular)
        if user
          if user.isAdmin
            // ADMIN
            li.nav-item.mx-1
              a.btn.btn-outline-purple.me-2(class=(currentPage == 'admin_posts_page' ? 'active' : ''), href="/admin/posts") Posts 
            li.nav-item.mx-1
              a.btn.btn-outline-purple.me-2(class=(currentPage == 'admin_users_page' ? 'active' : ''), href="/admin/users") Users
            li.nav-item.mx-1
              a.btn.btn-outline-purple.me-2(href="/logout") Logout (#{user.name})
          else
            // NON-ADMIN USER
            li.nav-item.mx-1
              a.btn.btn-outline-purple.me-2(class=(currentPage == 'posts' ? 'active' : ''), href="/posts") Blog Posts 
            li.nav-item.mx-1
              a.btn.btn-outline-purple.me-2(class=(currentPage == 'myposts' ? 'active' : ''), href="/posts/myposts") My Posts
            //- li.nav-item.mx-1
            //-   a.btn.btn-outline-purple.me-2(href="/logout") Logout (#{user.name})
            li.nav-item.mx-1
              a.btn.btn-outline-purple.me-2(href="/logout") Logout

            // Profile icon + tooltip
            //- li.nav-item.mx-1.position-relative
            //-   button#profileBtn.btn.btn-outline-purple.rounded-pill.d-flex.align-items-center.justify-content-center.px-3.py-2(type="button", aria-label="User Profile")
            //-     i.bi.bi-person-fill
            //-   div#profileTooltip.tooltip-box #{user.name}
            li.nav-item.position-relative
              button.profileBtn.btn.btn-outline-purple(type="button", aria-label="User Profile")
                i.bi.bi-person-fill
              div.profileTooltip.tooltip-box= user && user.name ? user.name : 'Profile'
